*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}
body{
    background: #fefefe;
}

header{
    width: 100%;
    height: 80px;
    background: #079c45;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger{
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #079c45;
    background-color: #fefefe;
}


.about{
    display: flex;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
}
.about .about-text{
    width: 60%;
    min-height: 60vh;
    margin-top: 25vh;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

/* question START  */

section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    margin: 2rem 0;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-top: 1rem;
    border-bottom: 2px solid #079c45;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}







/* #accordion{
    margin: 100px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: #079c45;
    padding: 10px;
    border-radius: 4px;
}

#accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #fefefe;
}

#accordion li label span {
    font-weight: bold;
    transform: rotate(90deg);
    /* font-size: 22px; */
    color: #fefefe;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}






 */





@media only screen and (max-width: 1320px)
{
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1110px)
{
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px)
{
    header{
        padding: 0 10px;
    }
}




  